<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= foo %></title>
  </head>
  <body>
    <h1><%= COMPILED_AT %></h1>
    <h1><%= env %></h1>
    <h1><%= debug %></h1>
    <h1><%= api_path %></h1>
    <div id="main"></div>
  </body>
</html>